<footer class="doc-section-footer text-center bg-white p-3" id="page_footer">
  <p>
    <a href="https://github.com/joaopinheiro777/" style="color: red;">
    João VItor | Ecommerce com JavaScript, NodeJS e MongoDB</a>
  </p>
</footer>