<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <figure class="card-banner banner-size-lg">
        <figcaption class="overlay left"> <br><br><br><br>
          <h2 style="max-width: 300px;">Os melhores preços para essa quarentena!</h2>
          <a class="btn btn-warning" href="#">Produtos em oferta » </a>
        </figcaption>
        <img src="/images/banners/bg-cpu.jpg" width="100%">
      </figure>
    </div>
  </div> <br>
  <div class="row">
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">30% de DESCONTO</span>
        <div class="img-wrap"> <img src="/images/items/1.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">OXANDROLONA 100CP/10 MG</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 visualizações</div>
            <div class="label-rating">154 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">ENTREGA EM 24H</span>
        <div class="img-wrap"> <img src="/images/items/2.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">SARMS - LIGANDROL - 5mg - LGD-4033 - (60 Caps) - Enhanced Athlete</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 visualizações</div>
            <div class="label-rating">154 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">PRÓ HORMONAIS</span>
        <div class="img-wrap"> <img src="/images/items/4.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">Fematrope Dragon Pharma Pró Hormonal</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">458 visualizações</div>
            <div class="label-rating">400 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">WHEY EM OFERTA</span>
        <div class="img-wrap"> <img src="/images/items/7.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">Best Whey (900g) Atlhetica Nutrition</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">600 visualizações</div>
            <div class="label-rating">554 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

