<div class="row">
    <main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-6 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="images/items/1.jpg" data-fancybox=""><img src="images/items/1.jpg"></a></div>
</div> <!-- deslizar pagina produtos// -->
<div class="img-small-wrap">
  <div class="item-gallery"> <img src="images/items/1.jpg"></div>
  <div class="item-gallery"> <img src="images/items/2.jpg"></div>
  <div class="item-gallery"> <img src="images/items/3.jpg"></div>
  <div class="item-gallery"> <img src="images/items/4.jpg"></div>
</div> <!-- deslizar navegacao.// -->
</article> 
		</aside>
		<aside class="col-sm-6">
<article class="card-body">
<!-- informação curta -->
	<h3 class="title mb-3">Versão original de algum nome de produto</h3>

<div class="mb-3"> 
	<var class="price h3 text-warning"> 
		<span class="currency">US $</span><span class="num">1299</span>
	</var> 
	<span>/per kg</span> 
</div> <!-- preço-detalhe-produto .// -->
<dl>
  <dt>Descrição</dt>
  <dd><p>Descrição do Produto</p></dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Modelo#</dt>
  <dd class="col-sm-9">12345611</dd>

  <dt class="col-sm-3">Cor</dt>
  <dd class="col-sm-9">Preto e BRanco </dd>

  <dt class="col-sm-3">Entrega</dt>
  <dd class="col-sm-9">Todo o País </dd>
</dl>
<div class="rating-wrap">

	<ul class="rating-stars">
		<li style="width:80%" class="stars-active"> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> 
		</li>
		<li>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> 
		</li>
	</ul>
	<div class="label-rating">239 avaliações</div>
	<div class="label-rating">2.000 pedidos </div>
</div> <!-- classificação produto.// -->
<hr>
	<div class="row">
		<div class="col-sm-5">
			<dl class="dlist-inline">
			  <dt>Quantidade: </dt>
			  <dd> 
			  	<select class="form-control form-control-sm" style="width:70px;">
			  		<option> 1 </option>
			  		<option> 2 </option>
			  		<option> 3 </option>
			  	</select>
			  </dd>
			</dl>  <!-- item-propriedade .// -->
		</div> 
		<div class="col-colsm-7">
			<dl class="dlist-inline">
				  <dt>Tamanho: </dt>
				  <dd>
				  	<label class="form-check form-check-inline">
					  <input class="form-check-input" name="inlineRadioOptions" id="inlineRadio2" value="option2" type="radio">
					  <span class="form-check-label">P</span>
					</label>
					<label class="form-check form-check-inline">
					  <input class="form-check-input" name="inlineRadioOptions" id="inlineRadio2" value="option2" type="radio">
					  <span class="form-check-label">M</span>
					</label>
					<label class="form-check form-check-inline">
					  <input class="form-check-input" name="inlineRadioOptions" id="inlineRadio2" value="option2" type="radio">
					  <span class="form-check-label">G</span>
					</label>
				  </dd>
			</dl>  <!-- item-propriedade .// -->
		</div> 
	</div> <!-- linha.// -->
	<hr>
	<a href="#" class="btn  btn-warning"> <i class="fa fa-envelope"></i> Contatar Fornecedor </a>
	<a href="#" class="btn  btn-outline-warning"> Fazer Pedido </a>

</article> 
		</aside> 
	</div> 
</main>


<article class="card mt-3">
	<div class="card-body">
		<h4>Visão geral detalhada</h4>
	<p>	Visão detalhada sobre o cartão</p>
	<p>	Visão detalhada sobre o cartão</p>
	<p>	Visão detalhada sobre o cartão</p>
	<p>	Visão detalhada sobre o cartão</p>
	</div> <!-- corpo do cartao.// -->
</article>

</div>

